* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trispace", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

::selection {
  color: #fff;
  background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.start_btn button {
  font-size: 55px;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 100%;
  background: url("https://media.giphy.com/media/kKVGxQk4qsru6od1fo/giphy-downsized-large.gif");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 330px;
  width: 330px;
}

.start_btn button:hover {
  color: #b4b1b8;
}

.info_box {
  width: 540px;
  background: #b4b1b8;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.info_box .info-title {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  font-weight: 600;
}
.info_box .info-list {
  padding: 15px 30px;
  margin-top: -25px;
}
.info_box .info-list .info {
  margin: 5px auto;
  font-size: 17px;
  padding: 5px 0;
  width: 84.2%;
}
.info_box .info-list .info span {
  font-weight: 600;
  color: #007bff;
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  margin: 10px;
}

.info_box .buttons button,
footer button {
  appearance: none;
  border-radius: 40em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 13px;
  outline: none;
  padding: 1.3rem 0.5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  width: 115px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  line-height: 0;
}

.info_box .buttons button,
footer button,
.buttons button.restart,
.buttons button.quit,
footer button {
  box-shadow: #333 0 -3px 8px inset;
  transform: scale(1.125);
}

.info_box .buttons button:active,
footer button.show {
  transform: scale(1.025);
}

/****/
@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.quiz_box {
  width: 720px;
  height: 480px;
  background: #b4b1b8;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #b4b1b8;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .timer {
  color: #004085;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  letter-spacing: 5px;
}

.quiz_box header .timer .timer_sec {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  border-radius: 5px;
  line-height: 30px;
  user-select: none;
}
.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 7px;
  background: #333136;
}
section {
  padding: 25px 30px 20px 30px;
  background: #b4b1b8;
}
section .que_text {
  font-size: 22px;
  font-weight: 400;
}
section .option_list {
  padding: 20px 0px;
  display: block;
}
section .option_list .option {
  background: rgba(255, 255, 255, 0.781);
  border: 1px solid #6f6d72;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .option_list .option:last-child {
  margin-bottom: 0px;
}
section .option_list .option:hover {
  color: #fff;
  background: #6f6d72;
  border: 1px solid #6f6d7200;
}
section .option_list .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
section .option_list .option.disabled {
  pointer-events: none;
}
section .option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}
.option_list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}
.option_list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}
footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .total_que span {
  display: flex;
  user-select: none;
  font-weight: 300;
}
footer .total_que span p {
  padding: 0 5px;
}
footer .total_que span p:first-child {
  padding-left: 0px;
}

.result_box {
  background: #b4b1b8;
  border-radius: 5px;
  display: flex;
  padding: 50px 30px;
  width: 550px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.result_box .icon {
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}

.result_box .icon i {
  color: #333136;
  transform: rotate(270deg);
  margin-bottom: 60px;
}
.result_box .complete_text {
  font-size: 24px;
  font-weight: 500;
}
.result_box .score_text span {
  display: flex;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
}
.result_box .score_text span p {
  padding: 0 4px;
  font-weight: 600;
}
.result_box .buttons {
  display: flex;
  margin: 20px 0;
}
.result_box .buttons button {
  appearance: none;
  border-radius: 40em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 18px;
  outline: none;
  padding: 1.3rem 0.5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  width: 165px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  line-height: 0;
}

.buttons button.restart:hover,
.buttons button.quit:hover,
footer button:hover {
  background: #e9e8ee;
  color: #196cc5;
}
